.main-content {
  width: 100%;
  margin-left: 25%;
  padding-right: 15%;
}

@media (max-width: 768px) {
  .main-content {
    width: 100%;
    margin-left:0;
  }
}

@media (max-width: 768px) {
  .narrativa-text {
    font-size: 10px; /* Tamanho da fonte para telas menores que 768px */
  }
}

@media (max-width: 480px) {
  .narrativa-text {
    font-size: 8px; /* Tamanho da fonte para telas menores que 480px */
  }
}